@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #242424;
  --white: #FFFFFF;
  --accent: #00BC74;
  --text-secondary: #d4d4d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-accent: var(--accent);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
